//Variables
:root {
  --color-primary: #f3f1f5;
  --color-light-purple: #f0d9ff;
  --color-dark-purple: #bfa2db;
  --color-grey: #7f7c82;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

//Cleanup

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
