//MAIN CONTAINER
.container__main {
  padding: 1rem 1rem;
}

//CONATINER SEARCH
.container__search {
  height: 4rem;
  width: 100%;
  padding-bottom: 5rem;
  //   background-color: midnightblue;
  position: relative;
  display: flex;
  z-index: 10;
}

//PAGE ICON
.page-icon--1 {
  width: 5rem;
  height: 5rem;
}

//Sharing container
.sharing-option {
  display: flex;
  justify-content: space-around;
}

//DEV container
.dev {
  &__background {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 1.7rem;
    right: 4rem;
    border-radius: 10rem;
    background-image: radial-gradient(
      var(--color-primary),
      var(--color-dark-purple)
    );
    z-index: 13;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    // transform: scale(150);
  }

  &--icon {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    transition: all 0.3s;
    position: fixed;
    top: 1rem;
    right: 3rem;
    z-index: 15;
    border: 1px solid white;
    // display: none;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  //NAV MAIN CONTAINER
  &__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.8s;
  }
}

//FORM ELEMENT
.form {
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    margin-left: -5rem;
  }
  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.7rem 2rem;
    text-transform: uppercase;
    border: none;
    // border: 2px solid var(--color-light-purple);
    width: 30%;
    background-color: var(--color-grey);
    border-radius: 100px;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-smallest) {
      width: 50%;
    }

    &:focus {
      outline: none;
      border: none;
      width: 60%;
      height: 5rem;
      background-color: var(--color-grey);
      color: whitesmoke;

      position: absolute;
      transform: translateY(40vh);

      &::-webkit-input-placeholder {
        color: whitesmoke;
      }
    }
  }
}

//IMAGE CONTAINER
.image {
  &__container {
    margin: 2rem;
    margin-top: 4rem;
  }

  //IMAGE LIST

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 0 1rem;
    grid-auto-rows: 1rem;

    @media only screen and (max-width: $bp-smallest) {
      grid-auto-rows: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    img {
      width: 100%;
      grid-row-end: span 2;
    }
  }

  &-emptyList {
    width: inherit;
    text-align: center;

    font-family: inherit;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-style: italic;
    color: var(--color-light-purple);
  }

  //IMAGE CARD

  &-card {
    transition: all 0.3s;
    border-radius: 5px;

    //Like
    &--like {
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 2;
      height: 2rem;
      width: 2rem;
      // display: none;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
        fill: red;
      }
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

//NAV ELEMENTS
.dev__nav-container {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  height: 100vh;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, [row-start] 1fr [row-end]);
  }
}

.dev__nav {
  //APP ICON
  &-appicon {
    grid-column: col-start 2 / col-end 2;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: row-start 1 / row-end 1;
      height: 5rem;
      display: none;
    }
  }

  //DEV Container
  &-name {
    grid-column: col-start 1 / col-end 1;
    grid-row: 1 / -1;
    align-self: end;
    justify-self: center;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: row-start 2 / row-end 2;
      align-self: center;
      margin-bottom: 0;
    }
    &--title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    &--text {
      font-size: 2rem;
      line-height: 0.5;
    }
    &--sub {
      font-size: 2rem;
    }
  }
  &-icon {
    display: none;
  }

  //SHARING CONTAINER

  &-sharing {
    grid-column: col-start 3 / col-end 3;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: start;
    margin-top: 10rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: row-start 3 / row-end 3;
      align-self: center;
      margin-top: 0;
    }
    &--title {
      font-size: 2rem;
    }
    &--link {
      margin-top: 1rem;
      &-1 {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
        cursor: pointer;

        &:hover {
          fill: var(--color-dark-purple);
        }
      }
    }
  }
}

//EMAIL FORM SHARING

.email-form {
  position: relative;
  &__input {
    outline: none;
    border: 1px solid var(--color-dark-purple);
    padding: 1rem 1rem;
    width: 25rem;
    border-radius: 1rem;
    @media only screen and (max-width: $bp-medium) {
      width: 28rem;
    }
  }

  &__copy {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8rem;
    margin-right: 1rem;

    height: 2rem;
    width: 2rem;
    fill: var(--color-dark-purple);

    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 1rem;
    }
  }
}
